html {
  background: #ffffff;
}

body {
  max-width: 320px;
  margin: auto;
  background-image: url("file:///Users/nelson/Desktop/14-compositeur/img/image_de_fond.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

img {
  display: block;
  max-width: 100%;
  clip-path: circle(30% at 50% 50%);

}

.movie-poster {
  clip-path: circle(68%);
}

.link-to-the-music {
  clip-path: circle(30% at 60% 47%);
}