html {
  background: #ffffff;
}

body {
  max-width: 320px;
  margin: auto;
  background-image: url("file:///Users/nelson/Desktop/14-compositeur/img/image_de_fond.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

img {
  display: block;
  max-width: 100%;
  clip-path: circle(30% at 50% 50%);

}

.movie-poster {
  clip-path: circle(68%);
}

.link-to-the-music {
  clip-path: circle(30% at 60% 47%);
}

h1 {
  font-family: 'Tilt Warp', cursive;
  color: #3C3D37;
}

h2 {
  font-family: 'Tilt Warp', cursive;
  color: #A41527;
}

h3 {
  color: #A41527;
  text-align: center;
  font-family: 'Tilt Warp', cursive;
}

p, li {
  font-family: 'Merriweather', serif;
}

em {
  color: #3C3D37;
  font-family: 'Tilt Warp', cursive;
}

.element-sound .container {
  display: flex;
  align-items: center;
  justify-content: center;
}